<h2><%= @project.title %></h2>

<h4>Volunteers</h4>
  <% if @project.volunteers %>
    <ul>
      <% @project.volunteers.each do |volunteer| %>
        <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>/edit"><%= volunteer.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers for this project yet.</p>
  <% end %>

<h4>Add a Volunteer</h4>
<form action ="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="new_volunteer">New Volunteer</label>
    <input id="new_volunteer" name="new_volunteer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add a Volunteer!</button>
  </form>

<p><a href="/projects/<%= @project.id %>/edit">Edit The project</a></p>
<p><a href="/projects">Return to the list of Projects</a></p>